body{
    background-image: linear-gradient(#493a9d80, #493a9d80), url(../assets/img/fundo01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

:root{
    --corBotao: #2896D1;  
}

